
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 200vh; 
    background-color: #b89c9c;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
    background: transparent;
    
} 


nav.scrolled {
    background: #2d3436;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}


nav.scrolled .nav-links a, 
nav.scrolled .logo {
    color: #fff;
}


.nav-links a:hover {
    color: #ff7675;
    transform: translateY(-2px);
}

.logo {
    
    margin-left: 7rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}